/* General */
body {
	font-family: Georgia, "Times New Roman", Times, serif;
	font-size: 1em;
	background-color: white;
	color: black;
}


/* Nav bar */

nav {
	background-color: #FFB4B0 ;
	border: 2px solid black;

}

nav li {
	display: inline;
	text-decoration: none;
}

/*container */

/* main div */

#main {
	background-color: #FEFAC0;
	border: 2px solid black;
	width: 68%;
	margin-top: 20px;
	float: right;
	margin-bottom: 20px;
	height: 400px;
}

p.songName {
	font-family: Tahoma;
	font-size: 1.5em;
}

div#main > section {
	padding-left: 20px;
}

/* side div */

fieldset{
	border: none;
}

#side {
	background-color: #4DD7FA;
	border: 2px solid black;
	width: 27%;
	margin-top: 20px;
	float: left;
	height: 400px;

}

section.side {
	padding: 10px;

}

input.submit {
	width: 100%;
}

table {
	width: 100%;
	padding-left: 30px;
}


